extends ../layout

block content
    h1 #{place}
    ul
    p #{info}
    each reservation in reservations
        form(method='GET' action='/contact').row
            li
                b #{reservation.clientEmail} 
                span have reservation at: #{reservation.time} for #{reservation.long} hours
                input(type="hidden", name="email", id='email', value=reservation.clientEmail)             
                button.btn.btn-primary(type='submit').right Contact
    
        