extends ../layout


block content
    h1 Your places
    ul
    each userPlace in userPlaces
        form(method='POST' action='/details').row
            li
                b #{userPlace.name} 
                span #{userPlace.street} #{userPlace.streetNr} #{userPlace.localNr}
                input(type="hidden", name="name", value=userPlace.name)
                input(type="hidden", name="street", value=userPlace.street)
                input(type="hidden", name="streetNr", value=userPlace.streetNr)  
                input(type="hidden", name="city", value=userPlace.city)             
                button.btn.btn-primary(type='submit').right Details
    
    h2.otherPlaces Other places in your city: #{userCity}

    ul
    each place in places
        li.row
            b #{place.name} 
            span #{place.street} #{place.streetNr} #{place.localNr}
    
  
  
